.user_domino {
    margin: 10px;
    background: white;
    width: 150px;
    height: 50px;
}

.shop {
    display: flex;
    justify-content: center;
}

.avaliable_domino {
    border: 5px dotted white;
}

#opponent_user_domino_container {
    position: absolute;
    bottom: 5px;
}

#opponent_user_domino_container,
#user_domino_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#shop_button {
    margin-top: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px solid limegreen;
    cursor: pointer;
}

#domino_field {
    z-index: 0;
    position: absolute;
    height: 75%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url("https://img3.goodfon.ru/wallpaper/nbig/6/54/derevo-fon-temnyy.jpg");
    filter: brightness(70%);
}

#domino_field .user_domino:first-child {
    display: flex;
}

#field_container {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#field_container .user_domino {
    margin: 0;
    padding: 0;
}